---
import Register_forms from "../components/RegisterForm";
---
<html lang="es">
  <head><meta charset="utf-8" /><title>Registro</title></head>
  <body class="p-6">
    <Register_forms client:load />
  </body>
</html>
